body{
    background-color: rgb(97, 134, 60) !important;
    margin: auto !important;
    width: 70%;
}

div{
    margin-top: 20px; /*area exterma*/
    margin-bottom: 20px;

    border-style: solid; /*area entre magin e padding*/
    
    padding-right: 15px; 
    padding-left: 15px; /*area interna*/
}

p{
    font-size: 18px;
    text-align: justify;
}

h1{
    text-align: center;
}